@tailwind components;

@layer components {
  .header {
    height: 96px;
    @apply flex items-center justify-between px-2 md:px-[64px];
  }

  .nav {
    @apply hidden md:flex items-center gap-[42px];
    & a:hover {
      color: var(--gray);
    }
  }

  .button {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    font-weight: 500;
    border-radius: 8px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
  .button:disabled {
    opacity: 0.6;
  }
  .button:hover:not(:disabled) {
    background-color: var(--secondary-color-accent);
  }
  .button:focus {
    outline-offset: 0;
    outline: #fcef77 solid 2px;
  }
  .button:active:not(:disabled) {
    background-color: #fcef77;
    outline: 0;
  }

  .button-translucent {
    @apply button;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    &:hover:not(:disabled) {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .button-black {
    @apply button;
    color: #fff;
    background-color: var(--primary-color);
    &:hover:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  .hero-banner {
    margin: 0 auto;
    @apply w-full md:w-[40%] flex flex-col items-center mt-16 md:mt-28 text-center;
  }

  .title {
    @apply text-[60px] font-[700];
  }

  .text-gradient {
    background: linear-gradient(
      to right,
      #fffcdf 43%,
      #fdf49f 65%,
      #8ecde8 84%
    );
    background-clip: text;
    background-size: contain;
    -webkit-text-fill-color: transparent;
  }

  .card {
    border-radius: 20px;
    @apply relative flex flex-col w-full md:w-[580px] overflow-hidden;
  }
  .card-content {
    padding: 42px 42px 25px;
  }
  .card-border {
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    z-index: -1;
    background: linear-gradient(#323237, #323237) padding-box;
    @apply w-full h-full absolute;
  }
  .card:hover .card-border {
    background: linear-gradient(#323237, #323237) padding-box,
      linear-gradient(to right, #fffcdf 43%, #fdf49f 65%, #8ecde8 84%)
        border-box;
    border: 1px solid transparent;
  }

  .process-path {
    @apply flex flex-col mt-8 md:mt-[120px] py-12 px-4 w-[1202px] mx-auto rounded-[20px];
    background-color: rgba(255, 255, 255, 0.08);
    border: solid 1px rgba(255, 255, 255, 0.12);
  }

  .process-path-card {
    @apply flex flex-col flex-1 h-[300px] gap-4 rounded-[20px] py-5 px-5;
    border: solid 1px rgba(255, 255, 255, 0.12);
    background-color: rgba(255, 255, 255, 0.08);
    position: relative;
  }

  .process-path-card-arrow {
    position: absolute;  right: -60px;
    &.top {
      top: -10px;
    }
    &.bottom {
      bottom: -10px;
    }
  }

  .ellipse-background {
    width: 100%;
    background-image: url('/ellipse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .accordion-title {
    color: #ffffff;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    font-size: 1.1rem;
  }

  .animated-text {
    background: linear-gradient(
            to right,
            #fffcdf 43%,
            #fdf49f 65%,
            #8ecde8 84%

    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    animation: gradient 1s forwards;
  }

  @keyframes gradient {
    0% {background-position: 100% 0}
    100% {background-position: 0 0}
  }

  .contact-us {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    @apply flex flex-col md:flex-row mx-4 md:mx-16 md:px-14 pb-14 mt-8 md:mt-[136px] gap-3;
  }

  .footer {
    @apply flex flex-col-reverse md:flex-row gap-12 justify-between w-full px-4 md:px-16 my-16;
  }

  .input {
    background-color: transparent;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid rgb(177, 177, 178);
  }

  .adBanner {
    @apply flex flex-row justify-center items-center py-12;
    background-color: #FCF5B1E5;
  }

  .adBannerTitle {
    font-size: 40px;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;

    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(66deg, #363636 2%, #313131 35%, #85807b 40%, #837f7f 46%, rgba(196, 239, 236, 0.8) 47%, #837f7f 48%, #837f7f 50%, #403e3e 54%, #837f7f 56%, #403e3e 67%, #050505 98%);
  }
}
