@import 'styles/components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 32, 32, 38;

  --primary-color: oklch(24.6% 0.011 285);

  --secondary-color-l: 95.9%;
  --secondary-color: oklch(95.9% 0.086 102.9);
  --secondary-color-accent: oklch(
    from var(--secondary-color) calc(var(--secondary-color-l) - 10%) c h
  );

  --gray: #adadad;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
